html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

a {
  color: #fff;
  font-family: "Patua One", sans-serif;
  font-size: 2rem;
}

li {
  display: inline;
}

body {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "banner banner"
    "col1   col1";
}

header {
  display: contents;
  margin: 1rem;
}

.pano {
  grid-area: banner;
}

h1 {
  width: 14rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

nav {
  grid-column: 2 / -1;
  grid-row: 1;
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

main {
  display: flex;
  grid-area: col1;
  margin: 1rem;
  gap: 1rem;
}

figure {
  margin: 0;
}
