html {
  box-sizing: border-box;
  font-family: "Patua One", serif;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  display: contents;
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
  text-size: 2rem;
}

body {
  margin: 0;
}

h2 {
  color: #30658d;
  text-size: 2rem;
}

p {
  font-family: "Georgia", serif;
}

main {
  display: flex;
  grid-gap: 1rem;
}

figure > img {

}

.logo {
  width: 14rem;
}
