html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  display: contents;
}

body {
  display: grid;
  margin: 0;
}

li {
  display: inline;
  font-size: 2rem;
  font-family: "Patua One", sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 2rem;
}

a {
  color: #fff;
  font-size: 2rem;
}

h2 {
  color: #30658d;
  font-size: 2rem;
  margin-bottom: 0;
  font-family: "Patua One", sans-serif;
}

p {
  margin-top: 0;
}

.logo {
  width: 14rem;
}
